@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.blog-post{
  max-width: 700px;
  margin: 30px auto;
  overflow: auto;
  height: fit-content;
  padding: 30px;
  border-radius: 5px;
  margin-top: -100px;
}

.blog-title{
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  text-align: left;
}

.blog-date{
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: right;
}

.blog-text{
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  line-height: 35px;
}

.image-1{
  height: 153px;
  width: 270px;
  background-image: url(./../images/Slyth.PNG);
}

.image-2{
  height: 224px;
  width: 224px;
  background-image: url(./../images/Battlesnake4.gif);
}

.image-3{
  height: 144px;
  width: 144px;
  background-image: url(./../images/Recursive_Flood_Fill.gif);
}

.image-1193{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_1193.JPG);
}

.image-1223{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_1223.JPG)
}

.image-1256{
  height: 666px;
  width: 500px;
  background-image: url(./../images/IMG_1256.JPG)
}

.image-1266{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_1266.JPG)
}

.image-1274{
  height: 666px;
  width: 500px;
  background-image: url(./../images/IMG_1274.JPG)
}

.image-1329{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_1329.JPG)
}

.image-1376{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_1376.JPG)
}

.image-1404{
  height: 666px;
  width: 500px;
  background-image: url(./../images/IMG_1404.JPG)
}

.image-1406{
  height: 666px;
  width: 500px;
  background-image: url(./../images/IMG_1406.JPG)
}

.image-1425{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_1425.JPG)
}

.image-2751{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_2751.JPG)
}

.image-2756{
  height: 666px;
  width: 500px;
  background-image: url(./../images/IMG_2756.JPG)
}

.image-2773{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_2773.JPG)
}

.image-4483{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_4483.JPG)
}

.image-4501{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_4501.JPG)
}

.image-4588{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_4588.JPG)
}

.image-4629{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_4629.JPG)
}

.image-4698{
  height: 666px;
  width: 500px;
  background-image: url(./../images/IMG_4698.JPG)
}

.image-4868{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_4868.JPG)
}

.image-5342{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_5342.JPG)
}

.image-5377{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_5377.JPG)
}

.image-5421{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_5421.JPG)
}

.image-5443{
  height: 666px;
  width: 500px;
  background-image: url(./../images/IMG_5443.JPG)
}

.image-5456{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_5456.JPG)
}

.image-5475{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_5475.JPG)
}

.image-5480{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_5480.JPG)
}

.image-5539{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_5539.JPG)
}

.image-5540{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_5540.JPG)
}

.image-5556{
  height: 666px;
  width: 500px;
  background-image: url(./../images/IMG_5556.JPG)
}

.image-5558{
  height: 666px;
  width: 500px;
  background-image: url(./../images/IMG_5558.JPG)
}

.image-5571{
  height: 666px;
  width: 500px;
  background-image: url(./../images/IMG_5571.JPG)
}

.image-5578{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_5578.JPG)
}

.image-5634{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_5634.JPG)
}

.image-5681{
  height: 666px;
  width: 500px;
  background-image: url(./../images/IMG_5681.JPG)
}

.image-5784{
  height: 666px;
  width: 500px;
  background-image: url(./../images/IMG_1425.JPG)
}

.image-5771{
  height: 375px;
  width: 500px;
  background-image: url(./../images/IMG_5771.JPG)
}

.image-5773{
  height: 281px;
  width: 500px;
  background-image: url(./../images/IMG_5773.JPG)
}