@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.blog-post{
  max-width: 700px;
  margin: 30px auto;
  overflow: auto;
  height: fit-content;
  padding: 30px;
  border-radius: 5px;
  margin-top: -100px;
}

.blog-title{
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  text-align: left;
}

.blog-date{
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: right;
}

.blog-text{
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  line-height: 35px;
}