@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');


img{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 175px;
    width: 240px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

.project-tile{
    background-color: white;
    border-radius: 11px;
    border: 2px solid rgb(236, 236, 236);
    height: fit-content;
    /* height: 600px; */
    width: 260px;
    text-align: center;
  }

.project-title{
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 15px;
  }

.project-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 12.5px;
    text-align: left;
    margin-left: 15px;
  }
  
.project-text{
    font-family: 'Hind', sans-serif;
    font-size: 12.5px;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -10px;
    line-height: 18px;
    font-weight: 100;
  }

.project-icons-list {
    /* border: 1px solid black; */
    height: 30px;
    width: 240px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    text-align: left;
}

.project-icon{
  height: 30px;
  width: 30px;
  /* border: 1px solid black; */
  margin-right: 10px;
  float: left;
}

.spacing{
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

